@mixin btn-default {
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
    
    &:focus {
      outline: none;
    }
}

@mixin is-completed {
    text-decoration: line-through;
    opacity: 0.5;
}