.todo {
    margin-top: 1rem;
    margin-bottom: 1rem;

    &__title {
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 0.5rem;
    }
    &__item {
        display: flex;
        background-color: $color4;
        border-radius: $borderRadius;
        padding: 0.5rem 0.75rem 3rem;
        box-shadow: $shadow;
        position: relative;

        &:not(:last-of-type) {
            margin-bottom: 0.75rem;
        }

        &-wrap {
            width: 100%;
            min-height: 2rem;
            padding: calc( (1rem * 0.4 / 2) + 4px) 0.5rem;
        }

        &-title {
            display: block;
            font-size: 1rem;
            transition: all 0.15s ease;
            cursor: text;

            &.is-completed {
                @include is-completed();
            }
        }
        &-delete {
            margin-top: 3px;
            color: $colorDel;
        }

        @media screen and #{$up768} {
            padding-bottom: 0.5rem;

            &-title {
                font-size: 1.25rem;
            }
            &-wrap {
                padding: calc( (1rem * 0.4 / 2) + 1px) 0.5rem;
            }
        }
    }
    &__btns {
        display: flex;
        position: absolute;
        right: 1rem;
        bottom: 0.5rem;

        @media screen and #{$up768} {
            position: static;
            right: auto;
            bottom: auto;
        }
    }
}