$fontFam: 'Open Sans', sans-serif;
$fontSize: 16px;

$color1: #2c3e50;
$color2: #37699b;
$color3: #25a565;
$color4: #ffffff;

$colorDel: #ec0101;

$btnColor: #6200ee;
$btnColorDisabled: #afadad;

$borderRadius: 5px;

$shadow: 0 0 5px -2px $color1;

$up1440: "(min-width: 1440px)";
$up1200: "(min-width: 1200px)";
$up1024: "(min-width: 1024px)";

$down1440: "(max-width: 1439px)";
$down1200: "(min-width: 1199px)";
$down1024: "(min-width: 1023px)";